@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap');
body{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white !important;
    width: 50%;
    height: fit-content;
    padding: 2rem;
    border-radius: 20px;
    border-bottom-right-radius: 180px !important;
}

.first{
    display: flex !important;
    flex-direction: row;
}
.input{
    display: flex !important;
    flex-direction: column;
    width: 20%;
    margin-left: 2rem;
    gap: 0.5rem;
}
label{
    font-size: 0.8rem ;
    font-weight: 700;
    color: #716F6F;
    letter-spacing: 0.2rem;
}
.input:first-child{
    margin-left: 0;
}
input{
    border-color: #716f6f6f !important;
    border: solid 1px;
    outline: none;
    height: 3rem;
    font-weight: 700;
    font-size: 20px;
    display: flex !important;
    align-items: center !important;
    padding-left: 1rem;
    border-radius: 5px;
}

.line{
    border-bottom: solid 1px #716F6F;
    width: 100%;
    height: 0;
    opacity: 0.3;
}
.middle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
button{
    border-radius: 50%;
    border: solid 1px white;
    background-color: #854DFF;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #b399ec;
}

button:active{
    background-color: black;
}


.screen{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    height: 3.8rem;
    flex-wrap: nowrap;
    overflow: hidden;
}

.output{
    font-size: 55px;
    color: #854DFF;
    font-weight: 800;
    font-style: italic;
    min-width: 5rem;

}

h1{
    font-size: 55px;
    font-weight: 800;
    font-style: italic;
    margin: 0;
}
@media(max-width:800px){
    .middle{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    button{
        position: relative;
        top: 0;
        right: 50%;
    }
}


